body{
    font-family:'Poppins', sans-serif;
}
.container {
    max-width: 600px;
}
.logo{
    text-transform:uppercase;
    font-size:20px;
    font-weight:800;
}
.logo a{
    color:#000;
}
a{
    text-decoration: none;
}
.navigation{
    border-bottom:1px solid #CCC;
}
#date{
    font-size:24px;
    font-weight:700;
}
#question{
    font-size:28px;
    font-weight:300;
    color:#797979;
}
#element-id{
    text-align: right;
    padding-top:30px;
    color:#797979;
    position:relative;
}
.share{
    border:1px solid #000;
    background-color:#fff;
}
.share:hover{
    border:1px solid #000;
    background: #f1f1f1;
}

#message{
    position: absolute;
    width:150px;
    background:#000000;
    color:#FFFFFF;
    top:10px;
    left:50%;
    line-height:20px;
    transform: translateX(-75px);
    text-align:center;
    display:none;
    padding:10px 0;
}