body{
    font-family:'Poppins', sans-serif;
}
.container {
    max-width: 600px;
}
.logo{
    text-transform:uppercase;
    font-size:20px;
    font-weight:800;
}
.logo a{
    color:#000;
}
a{
    text-decoration: none;
}
.navigation{
    border-bottom:1px solid #CCC;
}
#date{
    font-size:24px;
    font-weight:700;
}
#question{
    font-size:28px;
    font-weight:300;
    color:#797979;
}
#element-id{
    text-align: right;
    padding-top:30px;
    color:#797979;
    position:relative;
}
.share{
    border:1px solid #000;
    background-color:#fff;
}
.share:hover{
    border:1px solid #000;
    background: #f1f1f1;
}

/*
#element-id:hover:after {
    position:absolute;
    content:'Question Credit';
    bottom:25px;
    right:0;
    padding:3px 5px;
    border-radius:5px;
    display:inline-block;
    background-color:rgb(190, 190, 190);
    color:white;
    font-size:10px;
}
*/